 body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;

}
/* reset */
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* common */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */
.page-header {
border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;

}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;

}

.header-logo .logo-part{
color: #2e2f42;
}

.nav-link {
display: block;
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.nav-link:hover, 
.nav-link:focus, 
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    margin-left: auto;
    font-style: normal;
}

.contacts-link {
    display: block;
    padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* hero */
.hero {
    background-color: #2e2f42;
}

.hero-title {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-btn {
    font-family: inherit;
    background: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff; 
} 
.hero-btn:hover, .hero-btn:focus {
        background: #404bbf;
}
.heading-two {
    text-transform: capitalize;
    text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.heading-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
  /* body */
.benefits-text, .team-dscr, .portfolio-text, .footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team {
    background-color: #f4f4fd;
}

.portfolio-item, .team-item {
    background-color: #fff;
}
.page-footer {
background-color: #2e2f42;
}

/* footer */
.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
}