 body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;

}
/* reset */
ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

/* common */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

/* header */
.page-header {
border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;

}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;

}

.header-logo .logo-part{
color: #2e2f42;
}

.nav-link {
display: block;
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.nav-link:hover, 
.nav-link:focus, 
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    margin-left: auto;
    font-style: normal;
}

.contacts-link {
    display: block;
    padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* hero */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.hero-title {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
}

.hero-btn {
    display: block;
    min-width: 169px;
    border: none;
    margin: 0 auto;
    font-family: inherit;
    background: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff; 
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
} 
.hero-btn:hover, .hero-btn:focus {
        background: #404bbf;
}

.heading-two {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.heading-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
  /* benefits */
.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
  }
.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-text, .team-dscr, .portfolio-text, .footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.benefits-item {
    width: calc((100% - 3*24px) / 4);
}
/* team */
.team {
    background-color: #f4f4fd;
}
.heading-team {
text-align: center;
}
.team-dscr {
    text-align: center;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.team-text {
padding: 32px 0;
}
.portfolio-item, .team-item {
    background-color: #fff;
}

/* portfolio */
.portfolio-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-info {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
}


/* footer */

.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-container {
    display: block;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    color: #f4f4fd;
    max-width: 264px;
}