 body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;

}

ul, ol {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo .logo-part{
color: #2e2f42;
}

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.nav-link:hover, 
.nav-link:focus, 
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.hero {
    background-color: #2e2f42;
}

.hero-title {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-btn {
    font-family: inherit;
    background: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff; 
} 
.hero-btn:hover, .hero-btn:focus {
        background: #404bbf;
}
.heading-two {
    text-transform: capitalize;
    text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.heading-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
   
.benefits-text, .team-dscr, .portfolio-text, .footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team {
    background-color: #f4f4fd;
}

.portfolio-item, .team-item {
    background-color: #fff;
}
.page-footer {
background-color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
}